language: node_js
sudo: false
node_js:
  - 4
  - 5
  - 6
before_install:
  - npm install -g npm@latest-2
after_success:
  - npm run coverage
  - 'curl -Lo travis_after_all.py https://git.io/travis_after_all'
  - python travis_after_all.py
  - 'export $(cat .to_export_back) &> /dev/null'
  - npm run semantic-release
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
notifications:
  email: false
